.place__image {
  width: 100%;
  margin-top: 48px;
}

@media (max-width: 482px) {
  .place__image {
    margin-top: 32px;
  }
}

@media (max-width: 320px) {
  .place__image {
    width: 105%;
    margin-left: -7px;
  }
}
