.cover {
  width: 90%;
  margin: 92px auto 0;
  max-width: 1184px;
}

@media (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media (max-width: 482px) {
  .cover {
      margin-top: 66px;
    }
}