.footer__nav {
  width: 90%;
  padding-top: 92px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
}

@media (max-width: 768px) {
  .footer__nav {
    width: 95%;
    padding-top: 88px;
  }
}

@media (max-width: 624px) {
  .footer__nav {
    padding-top: 64px;
      flex-direction: column;
    }
}