.cover__overlay {
  background-image: url(../../../images/__overlay.png);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* transition: opacity .2s linear; не получилось сделать так что бы у меня затемнялся отдельный коректирующий слой, затемнение работает нормально только когда я прописываю это все cover__link */
  z-index: 1;
}

/* .cover__overlay:hover { 
  opacity: .2;
} */