.place {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-top: 80px;
}

.place:first-child {
  margin-top: 0;
}

@media (max-width: 768px) {
  .place {
    margin-top: 73px;
  }
}

@media (max-width: 482px) {
  .place {
    margin-top: 49px;
  }
}