.place__url-heading {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #aaaaaa;
  margin: 0;
  margin-bottom: 12px;
}

@media (max-width: 800px) {
  .place__url-heading {
    line-height: 12px;
  }
}
