.place__paragraph {
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  margin-bottom: 26px;
}

@media (max-width: 800px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .place__paragraph {
    width: 95%;
    margin: 0 auto;
  }
}
