.content-title {
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  margin: 0 auto;
  margin-top: 102px;
  max-width: 800px;
}

@media screen and (max-width: 768px) {
  .content-title {
    font-size: 42px;
    line-height: 46px;
    margin-top: 95px;
  }
}

@media screen and (max-width: 375px) {
  .content-title {
    margin-top: 64px;
    font-size: 32px;
    line-height: 35px;
  }
}
