.intro__title {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
}

@media (max-width: 482px) {
  .intro__title{
    font-size: 32px;
    line-height: 35px;
  }
}
